{% extends 'base.html' %}
{% block body_content %}
{% load i18n %}
{% load static %}

{% block css%}

{% endblock %}
<main>
    <!-- ============abt-01 Section Start============ -->
  <section class="abt-01">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading-wrapper">
            <h3>{% trans 'Events' %}</h3>
            <ol>
              <a href="{% url 'dashboard' %}">  <li>
                {% trans 'Home' %}<i class="far fa-angle-double-right"></i>
              </li>
              </a>
              <li>{% trans 'Events' %}<i class="far fa-angle-double-right"></i></li>
              
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-02">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        {% for i in eventlist %}
            <div class="wrapper">
              <div class="bs mt-3">
                <div class="single__full">
                  <figure>
                    <figcaption style="margin-bottom: -50px;">
                      <span>&nbsp;&nbsp;{{i.create_date}}</span>
                    </figcaption>
                  </figure>
                  <h2 class="a"><a href="{% url 'singleevent' slug=i.slug %}">{{i.title}}</a></h2>
                  <p style="margin-left: 100px;"><b>{{i.location}}</b></p><br>
              </div>
              </div>
            </div>
          {% if i.image %}
            <div class="">
              <img src="{{ i.image.url }}" style="width: 90%; height: 400px;" alt="{{i.title}}"/>
            </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="text-part" >
            <div class="card text-bg-primary" style="max-width: 18rem;">
              <div class="card-header">{% trans 'Events' %}</div>
              {% for i in eventlist%}
              <div class="card-body">
                  <li><a href="{% url 'singleevent' slug=i.slug  %}">{{i.title}}</a>
                </li>  
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div> 

      <div class="pagination__main">
        <nav class="pagination__outer" aria-label="Page navigation">
          {% if eventlist.has_other_pages %}
          <ul class="pagination">
            <li class="page-item">
              <a {% if eventlist.has_previous %} href="?page={{ eventlist.previous_page_number }}" {% endif %}class="page-link" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
            {% for i in eventlist.paginator.page_range %}
            <li class="page-item" {% if eventlist.number == i %} active{% endif %} >
              <a class="page-link" href="?page={{ i }}">{{i}}</a></li>
              {% endfor %}
            <li class="page-item">
              <a {% if eventlist.has_next %} href="?page={{ eventlist.next_page_number}}" {% endif %} class="page-link" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          </ul>
          {% endif %}
        </nav>
      </div>
    </div>
  </section>
</main>
{% endblock %}
