{% extends 'base.html' %}
{% block body_content%}
{% load static %}
{% load i18n %}
<main>
    <section class="abt-01">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="heading-wrapper">
                        <h3>{% trans 'Gallery' %}</h3>
                        <ol><a href="{% url 'dashboard' %}">
                            <li>{% trans 'Home' %}<i class="far fa-angle-double-right"></i></li>
                            </a>
                            <li>{% trans 'Gallery' %}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="wrapper">
                <!-- filter Items -->
                {% comment %} <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 class="gallery-title">{% trans 'Gallery' %}</h1>
                </div> {% endcomment %}
                <nav>
                    <div class="items">
                        <span class="item active" data-name="all">All</span>
                        {% for i in gallerytype_list%}
                        <span class="item" data-name="{{ i.name }}">{{i.name}}</span>
                        {% endfor %}
                    </div>
                </nav>
                <!-- filter Images -->
                <div class="gallery">
                    {% for image in gallery_images %}
                    {% if image.image %}
                    <div class="image" data-name="{{ image.gallary_type.name }}">
                        <span><img src="{{ image.image.url }}" alt=""></span>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        <!-- fullscreen img preview box -->
            <div class="preview-box">
                <div class="details">
                    <span class="title">Image Category: <p></p></span>
                    <span class="icon fas fa-times"></span>
                </div>
                <div class="image-box"><img src="" alt=""></div>
            </div>
            <div class="shadow"></div>
        </div>
    </section>
  
</main>

{% endblock %}

{% block js%}
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}