{% extends 'base.html' %}
{% block body_content %}
{% load i18n %}
{% load static %}
<main>
 {% for query in popUpImage %}
  {% if query %}
  <div id="popup" class="popup">
    <div class="popup-content">
      <h2>{{ query.title }}</h2>
      <p>{{ query.description }}</p>
      <img src="{{query.image.url}}" alt="{{ query.title }}" style="width: 100%; height: 100%;">
      <span class="close-button">&times;</span>
    </div>
  </div>
  {% endif %}
{% endfor %}

  <div class="container-lg my-3">
    <div class="carousel">
      {% for images in bannerlist%}
      <!-- Carousel items -->
      <div class="carousel-item active">
      {% if images.image %}
        <img src="{{images.image.url}}" alt="{{i.title}}">
      {% endif %}
        <div class="carousel-caption">
          <h5>{{images.title}}</h5>
          <p>{{images.description}}</p>
        </div>
      </div>
      {% endfor %}
      <!-- Carousel controls -->
      <a class="carousel-control carousel-control-prev" href="#" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control carousel-control-next" href="#" role="button" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
        <li data-target=".carousel" data-slide-to="0" class="active"></li>
        <li data-target=".carousel" data-slide-to="1"></li>
        <li data-target=".carousel" data-slide-to="2"></li>
      </ol>
    </div>
  </div>

  <section class="bg-01">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="wrapper">
            <div class="row">
              {% for notice in notices%}
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="content">
                  <ol>
                    <li class="dashed">
                      <i class="fa fa-bell" aria-hidden="true"></i>
                      <h3><a href="{% url 'singlenotice' slug=notice.slug %}">{{notice.title}}</a></h3>
                      <p>{{notice.body}}</p>
                    </li>
                  </ol>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about-001">
    {% for i in aboutlist %}
      <div class="container">
          <div class="row">
            <div class="text-part col-md-6">
                  <h2>{% trans 'About Our School' %}</h2>
                <p>{{i.body}}</p>
            </div>
            {% if i.image %}
            <div class="image-part col-md-6">
              <div class="" style="height: 100%;">
              <img src="{{i.image.url}}" alt="image" style="width: 100%; height: 400px;">
              </div>
            </div>
            {% endif %}
          </div>
      </div>
    {% endfor%}
  </section>
    <!-- ======================Bg-02 started====================== -->

  <section class="bg-02">
    <div class="container">
      <div class="row">
      
        <div class="col-12">
          <div class="heading">
              <h2>{% trans 'Events' %}</h2>
          </div>
        </div>{% for i in eventlist %}
        
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="wrapper">
            <div class="bs">
              <div class="single__full">
                <figure>
                  <figcaption>
                    <span>&nbsp;&nbsp;{{i.create_date}}</span>
                  </figcaption>
                </figure>
              
                <h2 class="a"><a href="{% url 'singleevent' slug=i.slug %}">{{i.title}}</a></h2>
                  <p style="margin-left: 100px;"><b>{{i.location}}</b></p><br>
                  <p>{{i.sub_title}}</p>
            </div>
            </div>
          </div>
        </div>
        {% endfor %}
       
        
      </div>
    </div> 
  </section>

    <!-- ======================Bg-03 started Programs====================== -->
  <section class="bg-03">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
              <h2>{% trans 'Academic Programs' %}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {% for i in programlist %}
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
              <div class="wrapper">
                <div class="content">
                  <ol>
                    <li>
                     <a href="{% url 'singleprogram' slug=i.slug %}">
                      {% if i.image %}
                      <img src="{{ i.image.url }}" alt="{{ i.title }}" style="height: 150px; width: 200px;" />
                      {% endif %}
                      <h3>{{ i.title }}</h3>
                     </a>
                      {% if i.body|safe|linebreaks|wordcount <= 20 %}
                        <p>{{i.body|safe}}</p>
                        {% else %}
                        <p>
                          {{ i.body|safe|linebreaks|truncatewords:20 }}<a href="{% url 'singleprogram' slug=i.slug %}">..see more</a>
                        </p>
                      {% endif %}
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

    <!-- ======================Bg-04 started= team===================== -->

  <section class="bg-04">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>{% trans 'Meet Our Team' %}</h2>
          </div>
        </div>

        <div class="main-team-card d-flex">
          {% for i in teamlist %}
            <div class="team-setup">
              <div class="team-items">
                {% if i.image %}
                <div class="team-user">
                  <img src="{{ i.image.url }}" alt="{{ i.name }}" />
                </div>
                {% endif %}
                <div class="team-user-social">
                  <ol>
                    <li>
                      <i class="fab fa-facebook-f"></i>
                    </li>
                    <li>
                      <i class="fab fa-twitter"></i>
                    </li>
                    <li>
                      <i class="fab fa-google"></i>
                    </li>
                    <li>
                      <i class="fab fa-skype"></i>
                    </li>
                  </ol>
                </div>
                <div class="team-name">
                  <h2>{{ i.name }}</h2>
                  <b>{{ i.position }}</b>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

    <!-- ======================Bg-05 started facilties====================== -->

  <section class="bg-05">
    <div class="container">
      <div class="col-12">
        <div class="heading">
          <h2>{% trans 'Facilities' %}</h2>
        </div>
      </div>

      <div class="blog-main-card d-flex">
        {% for i in facilitielist %}
        <article class="blog-sub">
          <a href="{% url 'siglefacility' slug=i.slug %}">
          {% if i.image %}
          <div class="blog-content">
            <img src="{{i.image.url}}" alt="{{i.title}}">
          </div>
          {% endif %}
          </a>
          <div class="blog-content-section">
            <div class="blo-content-title">
              <a href="{% url 'siglefacility' slug=i.slug %}">
              <h4>{{i.title}}</h4>
              </a>
              {% if i.body|safe|linebreaks|wordcount <= 20 %}
                <p>{{ i.body|safe|linebreaks }}</p>
              {% else %}
              <p>
                {{ i.body|safe|linebreaks|truncatewords:20 }}<a href="{% url 'siglefacility' slug=i.slug %}">..see more</a>
              </p>
               {% endif %}
            </div>
            <div class="blog-admin">
              <ol>
                <li>
                  <i class="fal fa-calendar-alt"></i> {{i.create_date}}
                </li>
              </ol>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </div>
  </section>

</main>
 
{% endblock %}
{% block js%}
<script src="{% static 'js/swiper.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% endblock%}

