{% extends 'base.html' %}
{% block body_content %}
  {% load static %}
    {% load i18n %}
  <main>
    <!-- ============abt-01 Section Start============ -->

    <section class="abt-01">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="heading-wrapper">
              <h3>{{programlist.title}}</h3>
              <ol>
                <a href="{% url 'dashboard' %}">
                <li>
                  {% trans 'Home' %}<i class="far fa-angle-double-right"></i>
                </li>
                </a>
               <a href="{% url 'service' %}"> <li>{% trans 'Service' %}<i class="far fa-angle-double-right"></i></li></a>
                <li>{{programlist.title}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about-001">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            {% if programlist.image %}
            <div class="about-qcard">
              <img src="{{ programlist.image.url }}" style="height: 450px; width: 800px;" alt="{{programlist.title}}" />
            </div>
            {% endif %}
            <div class="text-part ">
              <p>{{ programlist.body|safe }}</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="text-part">
              <h2></h2>
              <div class="card text-bg-info mb-3 mt-5" style="max-width: 18rem;">
                <div class="card-header">Programs</div>
                {% for i in programlists%}
                <div class="card-body">
                    <li><a href="{% url 'singleprogram' slug=i.slug  %}">{{i.title}}</a>
                  </li>  
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
