._main_nav {
    position:absolute;
    width:100%;
    top:0;
    left:0;
    z-index: 999;
}

.nav{
	display:block;
	width:100%;
	position:relative;

}

.menu-toggle {
    display:none;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    float: right;
    margin: 10px 0 0 40px;
    opacity: 0;
    visibility: hidden;
}

.menu-toggle::before {
    position: absolute;
    content: "\f0c9";
    font-size: 26px;
    color: #fff;
    font-family: "Font Awesome 5 Pro";
}

.menu-toggle.active::before {
    content: "\f00d";
}

.menu ul .logo a:hover{
    color:#eb6363;
}

.menu ul .logo a{
    color:#eb6363;
}

.menu ul .logo{
    padding-left:0px;
    padding-right:10px;
    font-size:30px;
    text-transform:uppercase;
}

.menu ul li a {
    color: #fff;
    padding: 20px 0px 18px 0;
    transition: 0.5s;
    cursor: pointer;
}

.menu ul li {
    display: inline-block;
    color: #fff;
    padding: 18px 35px;
    font-size: 16px;
    font-weight: 700;
}

.my-nav {
    position: relative;
    width: 100%;
}

.menu {
	display:block;
    z-index: 99;
}

.menu ul li:hover a{
	color:#eb6363;
}

.og-hf-01{
    background:#1d1c1c;
    width:100%;
    height:82px;
    position:relative !important;
    top: 0;
    z-index: 999;
}

.og-hf {
    background:#1d1c1c;
    width:100%;
    height:82px;
    position: fixed;
    top: 0;
    z-index: 999;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.29);
}

.link-01 a{
	padding:10px !important;
	border:1px solid#fff;
}

.link-01:hover a{
	border:none !important;
	color:#eb6363;
}

.link-01 a{
	color:#e1ad3d;
}

@media (max-width: 768px){

    ._main_nav{
        background:#1d1c1c;
    }
	.menu-toggle {
    	visibility: visible;
    	opacity: 1;
    	display:block;
}

.menu.active {
    display: block;
    width: 100%;
    z-index: 999;
    visibility: visible;
    opacity: 1;
    top: 70px;
}

.menu{
	display:none;
}

.menu ul li {
    display: block;
}

.my-nav{
	top:50px;
}
.link-01{
	display:none;
}
.link-01 a{
	padding:10px !important;
}
}

@media (min-width:768.01px) and (max-width: 991.98px){
	.menu ul li {
		padding: 18px 15px;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.menu ul li {
		padding: 18px 35px;
	}

}

