{% load i18n %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="footer-content">
         <h2>{% trans 'Contact Us' %}</h2>
          {% for i in contactlists %}
          <div class="sup-card-contact">
              <div class="sup-content">
                  <div class="contact-title">
                      <ol>
                          <li><i class="fa fa-map-marker"></i> {{i.location}}</li>
                          <li><i class="fa fa-envelope"></i> {{i.email}}</li>
                          <li><i class="fa fa-phone"></i> +977 {{i.number}} </li>
                          <li><i class="fa fa-clock"></i> {{i.opening_date}}</li>
                      </ol>
                  </div>
              </div>
          </div>
          {% endfor %}
          <ul>
            <li>
            <a href="{% for i in socialdetail %} {% if i.name == 'Facebook' or i.name == 'facebook' %}{{ i.url }}{% endif %} {% endfor %}" class="fb-ic">
              <i class="fab fa-facebook-f"></i>
            </a>
            </li>
            <li>
              <i class="fab fa-twitter"></i>
            </li>
            <li>
              <i class="fab fa-google"></i>
            </li>
            <li>
              <i class="fab fa-skype"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="footer-content">
        <h2>{% trans 'Quick Links' %}</h2>
          <ol>
            <li>
              <a href="/"><i class="fal fa-angle-double-right"></i>{% trans 'Home' %}</a>
            </li>
            <li>
              <a href="{% url 'aboutus' %}"><i class="fal fa-angle-double-right"></i>{% trans 'About Us' %}</a>
            </li>
            <li>
              <a href="{% url 'event' %}"><i class="fal fa-angle-double-right"></i>{% trans 'Events' %}</a>
            </li>
            <li>
              <a href="#"><i class="fal fa-angle-double-right"></i>{% trans 'Notice' %}</a>
            </li>
            <li>
              <a href="{% url 'contactus' %}"><i class="fal fa-angle-double-right"></i>{% trans 'Contact Us' %}</a>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="footer-content">
          <h2>{% trans 'Services' %}</h2>
          {% for i in service %}
            <ol>
              <li>
                <a href="{% url 'singleprogram' slug=i.slug %}"><i class="fal fa-angle-double-right"></i>{{ i.title }}</a>
              </li>
            </ol>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <div class="footer-content">
          <h2>{% trans 'News Letters' %}</h2>
          <p>{% trans 'Join our newsletter to get latest update form us.' %}</p>
          <div class="form-group">
            <input class="form-control" role="" name="email" type="email" placeholder="Enter Your Email" />
            <i class="fal fa-paper-plane"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

